.sidebar-wrapper {
    width: $sidebar-width;
    //height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    bottom: 0;
    margin-top: 35px !important;
    z-index: 100;
    transition: left .3s ease, width .3s ease;
    overflow-y: auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        transition: color .3s ease;
    }

    .sidebar-item {
        transition: all .3s linear;
    }

    .sidebar-content {
    	max-height: calc(100% - 35px);
        height: calc(100% - 35px);
    	//overflow-y: scroll;
    	position: relative;
        background-color: #F8FBFF;
        color: #014689;


        &.desktop {
            overflow-y: hidden;
        }
    }

    .badge {
        border-radius: 0;
    }
}

    .sidebar-wrapper {

        background-color: #fff;

        .sidebar-item {

            border-top: none;

            &:first-child {
                border-top: none;
            }
        }

        a:not(.dropdown-item),
        .sidebar-header,
        .sidebar-search input,
        .sidebar-search i {
            color: #084996;
        }

        a:not(.dropdown-item):hover,
        .sidebar-menu li.active>a {
            color: #084996;
        }

        .sidebar-menu a:hover i,
        .sidebar-menu a:hover:before,
        .sidebar-menu li.active > a i, .sidebar-menu .sidebar-list li.active a , {
            background-color: #084996;
        }

        .sidebar-menu ul li a i {
            background-color: #adadad;
            color: #fff;
        }


        .sidebar-menu .sidebar-dropdown div {
            background-color: #fff;
        }

        .sidebar-menu .header-menu span {
            color: #fff;
        }

    }

.sidebar-wrapper {

            .notifications {
            .dropdown-item {
                padding: .25rem 1rem;
            }

            .notifications-header {
                padding: 0 1rem;
            }

            .notification-content {
                display: flex;

                .icon {
                    width: 40px;
                    height: 40px;

                    i {
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        line-height: 35px;
                    }
                }

                .content {
                    line-height: 1.6;
                    padding-left: 5px;
                    width: calc(100% - 40px);

                    .notification-time {
                        font-size: .7rem;
                        color: #828282;
                    }

                    .notification-detail {
                        font-size: 12px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    
@import "./sidebar-brand";
@import "./sidebar-header";
@import "./sidebar-search";
@import "./sidebar-menu";
@import "./sidebar-footer";