textarea.lfr-editor-textarea {
	font-family: var(--font-poppins);
}

.lfr-rich-editor.ace_editor {
	border-color: #A1A2A4;
}

.lfr-plain-editor textarea, .lfr-rich-editor.ace_editor {
	font-family: var(--font-poppins);
	font-size: 12px;
}