
osgi.jndi.service.name="cistportal"

# NOTE: Update these values according to your database configuration
jdbc.default.driverClassName="com.mysql.cj.jdbc.Driver"
jdbc.default.url="jdbc:mysql://localhost:3306/cistportal?useUnicode=true&characterEncoding=UTF-8&useFastDateParsing=false&useSSL=false&serverTimezone=GMT"
jdbc.default.username="cistportal"
jdbc.default.password="password"

jdbc.default.maximumPoolSize="10"
jdbc.default.minimumIdle="5"
jdbc.default.connectionTimeout="30000"
jdbc.default.idleTimeout="600000"
jdbc.default.maxLifetime="1800000"
jdbc.default.leakDetectionThreshold="60000"

jdbc.default.connectionTestQuery="SELECT 1"

jdbc.default.autoCommit="true"

jdbc.default.cachePrepStmts="true"
jdbc.default.prepStmtCacheSize="250"
jdbc.default.prepStmtCacheSqlLimit="2048"
jdbc.default.useServerPrepStmts="true"
