
osgi.jndi.service.name="dewaDataSource"

# Dewa External Database Configuration
jdbc.default.driverClassName="com.mysql.cj.jdbc.Driver"
jdbc.default.url="jdbc:mysql://localhost:3306/dealink-migration?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT&allowPublicKeyRetrieval=true"
jdbc.default.username="liferay74"
jdbc.default.password="liferay74pass"

jdbc.default.maximumPoolSize="10"
jdbc.default.minimumIdle="5"
jdbc.default.connectionTimeout="30000"
jdbc.default.idleTimeout="600000"
jdbc.default.maxLifetime="1800000"
jdbc.default.leakDetectionThreshold="60000"

jdbc.default.connectionTestQuery="SELECT 1"

jdbc.default.autoCommit="true"

jdbc.default.cachePrepStmts="true"
jdbc.default.prepStmtCacheSize="250"
jdbc.default.prepStmtCacheSqlLimit="2048"
jdbc.default.useServerPrepStmts="true"
