/* title */
.main-title {
    display: flex;
    justify-content: center;
}

.main-title > h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

.empty-table {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.empty-table > p {
    margin: 0;
}

/* Select2 */
.dataTables_length .select2-selection.select2-selection--single {
    border: 2px solid #DBEDFF;
}

.select2-container--default .select2-selection--single {
    padding: 6px;
    height: 40px !important;
    font-size: 1.2em;
    position: relative;
    border: 1px solid gray;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #bbb;
}

.form-control:focus {
    border: 1px solid #DBEDFF;
}

@media only screen and (max-width: 768px) {
    .main-title {
        justify-content: start;
    }

    .main-title > h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 6px;
    }

    thead, .dataTables_length {
        display: none;
    }

    table, tbody, tr, td {
        display: block;
    }

    table {
        border: none !important;
    }

    td {
        position: relative;
        border: none !important;
        padding: 3px !important;
        font-size: 16px;
    }

    tr {
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: none !important;
        /*box-shadow: 0 8px 20px 0 rgba(13, 12, 34, 0.08);*/
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    }

    td:not(:nth-child(2)) {
        text-align: right !important;
    }

    td:first-child,
    td:nth-child(3) {
        display: none;
    }

    td:nth-child(2) {
        font-size: 16px;
        white-space: break-spaces !important;
        word-wrap: break-word !important;
    }

    td:nth-child(4) {
        display: none;
    }
}