@media only screen and (max-width: 767px) {
    .non-cms-table td:not(:nth-child(2)) {
        text-align: right;
    }

    .non-cms-table td:first-child,
    .non-cms-table td:nth-child(3) {
        display: none;
    }

    .non-cms-table td:nth-child(2) {
        font-size: 16px;
        white-space: break-spaces !important;
        word-wrap: break-word !important;
    }

    .non-cms-table td:nth-child(4):before {
        content: "Kuartal";
    }

    .non-cms-table td:nth-child(5):before {
        content: "Tipe Kendaraan";
    }

    .non-cms-table td:nth-child(6):before {
        content: "Tanggal Upload";
    }

    .non-cms-table td:nth-child(5) span {
        justify-content: end;
    }
}