/* Styles - Upload Bonus & Stnk - Non CMS */
.title-breadcrumb {
    /*font-family: Rubik;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.title-format {
    /*width: 197px;*/
    height: 24px;
    /*top: 186px;*/
    /*left: 40px;*/

    /*font-family: Rubik;*/
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 15px;
}
.title-form {
    /*font-family: Rubik;*/
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}
.button-text {
    /*font-family: SF Pro Display;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    /*margin-bottom: 5px;*/
}

.line-bonus {
    border-top: 1px solid #D9D9D9;
    margin: 25px 15px 30px 15px;
}

.line-bonus-popup {
    border-top: 1px solid #D9D9D9;
    margin: 25px 0px 30px 0px;
}

/*Document*/
.title-document {
    /*font-family: Rubik;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
}
