.web-content {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#loginPublic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-public {
    margin: 10px;
    width: 50%;
}

.btn-login-public {
    width: 100%;
    height: 50px;
    background-color: #014996;
    border-color: #014996;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.btn-regist-public {
    width: 100%;
    height: 50px;
    background-color: white;
    border-color: #014996;
    border-radius: 10px;
    font-weight: bold;
    color: #014996;
}

container#loginPublic #form-title {
    margin-bottom: 30px;
    color: #35405A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

container#loginPublic .login {
    color: #35405A;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 990px) {
    .center-portlet {
        align-items: center;
        height: calc(100vh - 25vh);
        padding-top: 10%;
    }

    .web-content {
        height: calc(100vh - 200px);
    }
}