#formRegistrationUser {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    padding: 50px 15%;
}

.container {
    width: 100%;
    height: fit-content;
    padding: 0px;
}

.regis-field {
    margin-left: 20px;
    padding-right: 50px;
}

.btn-verified {
    background: #1DA56D;
    border: 1px solid #1DA56D;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin: 22px 22px 0px;
    padding: 8px 16px;
    text-align: center;
    font-weight: bold;
}

/* Select2 Start */
.select2-container--default .select2-selection--single {
    padding: 6px;
    height: 40px !important;
    font-size: 1em;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#_verify_otp .select2-container--default .select2-selection--single {
    border-right: none;
    border-radius: 6px 0 0 6px;
}
/* Select2 End */

.btn-verify {
    height: 40px;
    width: 114px;
    background: #CFE4F6;
    color: #014996;
    border: none;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
}

.form-control {
    height: 40px;
    border-radius: 6px;
}

.header-verify-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

/* modals */
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.custom-modal.open {
    display: inherit;
}

.custom-modal-content {
    position: absolute;
    min-width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.15);
    border-radius: 10px;
}

.custom-modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.custom-modal-body {
    max-height: 500px;
    overflow-y: auto;
    padding: 2rem;
}

.custom-modal-footer {
    padding: 2rem;
    text-align: right;
}

.custom-modal-header {
    padding-bottom: 2rem;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-otp {
    width: 80%;
    border: none;
    border-bottom: 1px solid;
    text-align: center;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnBlue {
    background-color: #00448F;
    border-color: #00448F;
    color: white;
    border-radius: 10px;
}

.tnc-modal-header {
    margin: 7px 12px;
    text-align: right;
    font-size: x-large;
}

.captcha-field-image {
    overflow: hidden;
    padding: 0;
    flex: 0 150px;
    border: none;
}

.captcha-field {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 40px;
}

.title-register {
    color: #35405A;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#form-title {
    margin-bottom: 30px;
    color: #35405A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.field-title {
    color: #262626;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.email-field {
    display: flex;
    gap: 10px;
}

.email-field [class^="col"] {
    padding: 0;
}

.btn-ipr {
    border-radius: 6px;
    background: #014996;
    width: 320px;
    height: 40px;
    color: white;
}

.btn-reload-captcha {
    width: 50px;
    background: #F1F1F1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-captcha {
    flex: 1;
    border-radius: 6px 0px 0px 6px;
    padding-left: 15px;
    border-right: none;
}

.swal2-popup {
    font-size: 1em;
}

#_verify_otp {
    width: 100%;
    height: 40px;
}

.verify-otp {
    width: 60%;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
}

.container-resend {
    text-align: center;
}

.resend-otp {
    color: #014996;
    text-decoration-line: underline;
    font-weight: bold;
    cursor: pointer;
}

.section-btn-regist {
    argin: 1pc 0;
    margin-left: 20px;
}

.roles-container {
    min-height: 150px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.selected-role {
    margin: 0 10px 10px 0;
    padding: 7px 12px;
    border: none;
    border-radius: 6px;
    background: #014996;
    display: inherit;
    color: white;
    cursor: default;
}

.remove-role {
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .container {
        width: 100%;
    }

    .regis-field {
        padding-right: 30px;
    }

    #kode-verifikasi-email {
        text-align: center;
    }

    .custom-modal-content {
        min-width: 80%;
    }

    .section-btn-regist {
        text-align: center;
    }
}