.default-theme .sidebar-wrapper {
  background-color: #fff; }
    .default-theme .sidebar-wrapper .sidebar-item:first-child {
      border-top: none; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item),
  .default-theme .sidebar-wrapper .sidebar-header,
  .default-theme .sidebar-wrapper .sidebar-search input,
  .default-theme .sidebar-wrapper .sidebar-search i {
    color: #014689; }
  .default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
  .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
    color: #084996; }
  .default-theme .sidebar-wrapper .sidebar-menu a:hover i,
  .default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
  .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #084996; }
  .default-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #fff; }
  .default-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
    background-color: #fff; }
  .default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #868686; }

.default-theme.toggled #close-sidebar {
  color: #adadad; }

.default-theme.toggled #close-sidebar:hover {
  color: #d8d8d8; }

.default-theme.sidebar-bg .sidebar-wrapper:before {
  background-color: rgba(42, 42, 42, 0.9); }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item),
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-header,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i {
  color: #c7c7c7; }

.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
  color: #084996; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
  border-color: #454545; }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background-color: rgba(81, 81, 81, 0.5); }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
  background-color: rgba(81, 81, 81, 0.5); }